<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Bank Transaction Page</title>
</head>
<body layout:fragment="content">
<main class="d-flex justify-content-center">
    <form class="w-50" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Bank Transaction</h1>
        <p th:text="${errorMessage}"></p>
        <div class="input-group mb-3">
            <input type="number" id="amount" name="amount" class="form-control" placeholder="Amount" required autofocus>
            <div class="input-group-append">
                <span class="input-group-text">€</span>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="javascript: form.action='/bankTransaction/receive';">Deposit</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="javascript: form.action='/bankTransaction/send';">Withdraw</button>
    </form>
</main>
</body>
</html>