<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <link rel="stylesheet" th:href="@{/styles/sign_up_in.css}" />
    <title>Sign up</title>
</head>
<body layout:fragment="content" class="text-center">
    <main class="form-signin">
        <form method="post" action="/signup" class="border rounded-3 p-2 p-lg-5">
            <span class="fs-4 text-white color-primary rounded p-2">Pay my buddy</span>
            <h1 class="h3 my-3 font-weight-normal">Sign up</h1>
            <div class="form-floating mb-3">
                <input type="email" id="username" name="username" class="form-control" placeholder="Email" required autofocus>
                <label for="username">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="nickname" name="nickname" class="form-control" placeholder="nickname" required>
                <label for="nickname">Nickname</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign up</button>
        </form>
    </main>
</body>
</html>